/*Main*/
html, body {
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    font-weight: 600;
    text-align: center;
}

hr {
    border-color: #ffc266;
    border-width: 5px;
    max-width: 100%;
}

.container-h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 50px auto;
    color: #333;
}

.btn {
    color: #fff;
    background-color: #182c39;
    margin: 20px auto;
    border-radius: 0;
    font-weight: 500;
    display: table;
    padding: 10px;
}

.btn:hover {
    color: #182c39;
    background-color: transparent;
    border: 1px solid #182c39;
}

.hr-h3s {
    border: 3px solid #E94B3C;
    width: 70px;
    margin: 0 auto 35px auto;
}

textarea {
    resize: none;
}

section {
    align-items: center;
    padding: 50px 60px;
}

.bg-section h2 {
    text-transform: none;
    color: #ffc266;
    background-color: #182c39;
    margin: 50px 0;
    padding: 25px 20px;
    border-radius: 50px;
}

/*  ******* Header + Navigation ******* */

.navbar {
    background-color: #182c39;
    border-color: rgb(51, 17, 0);
    border-color: rgba(51, 17, 0, 0.2);
    font-weight: 700;
    padding: 15px 0;
    transition: padding .5s;
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: 500;
    text-transform: none;
    font-size: 25px;
    padding-left: 15px;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffc266;
    transition: color 1s;
}

.navbar .navbar-nav {
    padding-right: 50px;
}

.navbar .nav-pills > li > a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin: auto 5px;
    text-shadow: #222 0.3em 0.3em 0.3em;
}

.navbar .nav-pills > li > a:hover,
.navbar .nav-pills > li > a:focus:hover {
    color: #ffc266;
    transition: color 1s;
}


.navbar .nav-pills > li.active > a:hover,
.navbar .nav-pills > li.active > a:focus:hover {
    background-color: transparent;
}

.navbar .scrolled {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    opacity: 0.9;
}

.jumbotron {
    margin-bottom: 0;
    background-image: url("../../image/background.jpg");
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 700px;
}


.jumbotron .header-content-inner {
    font-weight: 700;
    text-transform: none;
    margin: 200px;
}

.jumbotron h1 {
    font-size: 45px;
}

.jumbotron h3 {
    font-size: 25px;
}

/****************About*****************/

.bg-about, .bg-gallery, .bg-service, .bg-contact, .bg-menu, .bg-staff {
    margin: auto 25px;
    background-color: white;
    /*border-radius: 25px;*/
}

#about h3 {
    color: #E94B3C;
}

#about .restaurant-history p {
    padding: 20px 80px;
    font-size: 15px;
    color: #444;
}

/*Changes the first letter to a larger letter and changes its color*/

p.first::first-letter {
    font-size: 150%;
    color: #000;
}

#about h1 {
    padding-top: 35px;
}

#about .image {
    display: block;
    width: 100%;
    height: auto;
}

/*  * - All  */
#about .hov-img * {
    box-sizing: border-box;
}

#about .hov-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#about .hov-img img {
    max-width: 100%;
}

#about .hov-img-bottom {
    display: block;
}

#about .hov-img-top {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    /*ease-in-out - specifies a transition effect with a slow start and end*/
    transition: all 0.4s ease-in-out 0s;
}

#about .hov-img:hover .hov-img-top {
    opacity: 1;
}

/* translate method moves an element from its current position*/
#about .hov-img-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    text-shadow: black .2em .2em .2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about .hov-img-text p {
    font-size: 15px;
    line-height: 1.2em;
}

#about .hov-img-slideup {
    transform: translateY(100%);
}

#about .hov-img:hover .hov-img-slideup {
    transform: translateY(0);
}

/* ******* Service ******* */

#service .service-round {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid #182c39;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: #182c39;
}

#service .service-round i {
    color: #182c39;
}

#service h4 {
    margin: 10px auto;
    font-size: 20px;
    color: #555;
}

#service .round:hover .fa {
    color: #ffc266;
    transition: color 2s;
}

#service .round:hover .service-round {
    border-color: #ffc266;
    transition: border-color 2s;
}

/* ******* Gallery ******* */


#gallery h3 {
    text-transform: none;
    color: #182c39;
    margin: 50px auto 10px auto;
    font-weight: 700;
}

#gallery .gallery {
    margin: 0 80px;
}

#gallery .no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

#gallery .hov-img * {
    box-sizing: border-box;
}

#gallery .hov-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

#gallery .hov-img img {
    max-width: 100%;
}

#gallery .hov-img-bottom {
    display: block;
}

#gallery .hov-img-top {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    /*ease-in-out - specifies a transition effect with a slow start and end*/
    transition: all 0.4s ease-in-out 0s;
}

#gallery .hov-img:hover .hov-img-top {
    opacity: 1;
}

/* translate method moves an element from its current position*/
#gallery .hov-img-image {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    text-shadow: black .2em .2em .2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallery .hov-img-slideup {
    transform: translateY(-100%);
}

#gallery .hov-img:hover .hov-img-slideup {
    transform: translateY(0);
}


#gallery .more-img {
    margin: 0 80px;
    background-color: #182c39;
}

#gallery .more-img .to-gallery {
    text-align: center;
    text-transform: none;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
}

#gallery .more-img .to-gallery h4 {
    text-transform: none;
    color: #fff;
    padding: 5px;
    margin: auto;
    font-size: 16px;
}

#gallery .more-img .social-networks .fa {
    font-size: 20px;
    margin: 5px 5px;
    color: #fff;
}

#gallery .more-img .social-networks .fa:hover {
    color: #ffc266;
}

.img-fluid1 {
    height: 100%;
    width: 100%;
}

/* ******* Staff ******* */

.staff-img {
    width: 170px;
    height: 170px;
}

#staff .thumbnail-row {
    margin: auto 60px;
}

#staff h3 {
    text-transform: none;
    color: #182c39;
    margin: 50px auto 10px auto;
}

#staff img {
    border-radius: 50%;
    margin-bottom: 10px;
}

#staff h5 {
    color: #222;
    font-size: 18px;
}

#staff h6 {
    color: #555;
    font-size: 16px;
}

#staff img:hover {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.9);
    transition: .3s;
}

/* ***** Footer ***** */

#footer {
    background-color: #182c39;
    color: white;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#footer h5 {
    font-size: 18px;
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#footer a {
    color: #aaa;
}

#footer a:hover, #footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .footer-items .fa {
    font-size: 17px;
    margin-bottom: 5px;
    background-color: white;
    color: #182c39;
    border-radius: 50%;
    padding-bottom: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 1s;
}

#footer .footer-items {
    margin: auto;
    padding-left: 50px;
    font-size: 15px;
}

#footer .fa-facebook:hover, #footer .fa-instagram:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #182c39;
}

.footer-copyright p {
    text-align: center;
    color: #ccc;
    font-size: 15px;
    padding: 10px 0;
    margin-bottom: 0;
}

#footer .hr-foot {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #fff;
}

#footer .to-top {
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5) no-repeat center;
}

#footer .to-top:hover {
    background-color: #222;
    color: #fff;
    transition: all 1s ease;
}

/* ******* Contact ******* */

#contact .left-box {
    background-color: #182c39;
    margin: 0 20px;
    font-size: 15px;
    text-transform: none;
    line-height: 1.8em;
    font-weight: 500;
    padding: 30px 50px;
    color: #fff;
}

#contact .left-box .span-contact {
    color: #ffc266;
    font-weight: 700;
    padding-right: 20px;
    font-size: 17px;
}

#navbaruser .nav-pills li a,
#navbaruser .nav-pills li a:focus {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    border-radius: 0;


}

#navbaruser .nav-pills li a:hover,
#navbaruser .nav-pills li a:focus:hover {
    color: #ffc266;
    background-color: #212529;
    transition: color 1s;
}

#navbaruser .nav-pills li a.active,
#navbaruser .nav-pills li a.active:focus {
    background-color: #212529;
    color: #ffc266;
}

/*Menu */
#menu .right-cover {
    background-color: #fff;
    color: #DC4C46;
    text-shadow: #DC4C46 .4em .4em .4em;
    padding: 10px;
    text-transform: none;
}

#menu .nav-pills {
    margin-left: 30px;
}

#menu .nav-pills > li {
    background-color: #182c39;
    font-weight: 500;
}

#menu .nav-pills > li > a,
#menu .nav-pills > li > a:focus {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    text-transform: uppercase;
}

#menu .nav-pills > li > a:hover,
#menu .nav-pills > li > a:focus:hover,
#menu .nav-pills > li > a.active,
#menu .nav-pills > li > a.active:focus {
    color: #fff;
    background-color: #944743;
}

.list-group-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0;
}

h3 {
    text-align: center;
}

.list-group-item:first-child {
    margin-top: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*name of dish*/
.list-group-item h4 {
    text-align: left;
    color: #182c39;
    text-transform: none;
    font-size: 18px;
}

/*description*/
.list-group-item p {
    text-align: left;
    color: #555555;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
    font-size: 14px;
}

/*price*/
.badge {
    border-radius: 0;
    background-color: #444;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.cart {
    margin-top: 80px;
}

.list-group-item, .category {
    color: #555555;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
    font-size: 14px;
}

#cart p > a {
    font-size: 14px;
}